---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/react/blog-card'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import Logo from '@/components/ui/logo'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'

const blog = await getRecentPosts(3)
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="Matías Baez" />
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <div
      class="flex flex-col items-center text-center sm:flex-row sm:items-start sm:gap-8 sm:text-left"
    >
      <div class="relative overflow-hidden rounded-lg sm:shrink-0 sm:overflow-hidden sm:rounded-lg">
        <Logo
          className="h-auto w-40 object-cover sm:w-48 md:w-56 lg:w-64 "
        />
      </div>
      <div class="mt-8 sm:mt-0 sm:max-w-xl">
        <h1
          class="font-custom text-foreground text-start text-4xl font-extrabold sm:text-5xl"
        >
          {SITE.author}
        </h1>
        <div class="mt-4 flex items-center gap-2" aria-label="location">
          <span
            class="bg-primary text-primary-foreground ring-primary/30 rounded-full px-3 py-1 text-sm font-medium ring-1"
          >
            Soy de
          </span>
          <span class="flex items-center gap-1">
            <span class="text-foreground text-sm font-medium"> {SITE.location}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 900 600"
              class="h-6 w-6 transition-transform duration-500 hover:rotate-12"
              aria-hidden="true"
              role="img"
              focusable="false"
              aria-labelledby="title-ar-flag"
            >
              <title id="title-ar-flag">Bandera de Argentina</title>
              <rect fill="#75AADD" width="900" height="600"></rect>
              <rect fill="#FFFFFF" y="200" width="900" height="200"></rect>
              <path fill="#FFC72C" d="m450 244.2-11.2 24.3-24.3 11.2 24.3 11.2 11.2 24.3 11.2-24.3 24.3-11.2-24.3-11.2-11.2-24.3zm0 18c-23.1 0-41.9 18.8-41.9 41.9s18.8 41.9 41.9 41.9 41.9-18.8 41.9-41.9-18.8-41.9-41.9-41.9zm0 13.1c15.9 0 28.8 12.9 28.8 28.8s-12.9 28.8-28.8 28.8-28.8-12.9-28.8-28.8 12.9-28.8 28.8-28.8z"></path>
            </svg>
          </span>
        </div>
        <p class="text-md text-foreground mt-4 text-start font-sans" title="description" aria-label="description">
          {SITE.description}
        </p>
      </div>
    </div>

    <section class="relative" aria-labelledby="skills-title">
      <h2
        id="skills-title"
        class="font-custom text-foreground text-2xl font-bold"
        title="skills"
        aria-label="skills"
        role="heading"
      >
        Habilidades y Tecnologías
      </h2>
      <p class="text-muted-foreground text-sm" aria-label="skills description">
        Estas son algunas de las tecnologías con las que he estado trabajando:
      </p>
      <div>
        <Skills client:load />
      </div>
    </section>

    <section class="flex flex-col gap-y-4" aria-labelledby="latest-posts-title" role="region">
      <div class="relative" aria-labelledby="latest-posts-title">
        <h2
          id="latest-posts-title"
          class="font-custom text-foreground text-2xl font-bold"
          title="latest blog posts"
          aria-label="latest blog posts"
        >
          Últimos Artículos del Blog
        </h2>
        <p class="text-muted-foreground text-sm" aria-label="blog description">
          Aquí están algunas de mis últimas publicaciones. Puedes encontrar más en mi página de blog.
        </p>
      </div>
      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center" aria-label="see all posts">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          Ver todas las publicaciones <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </section>
</Layout>